nav.navbar.fixed-top.navbar-expand-md
 .container
  a.navbar-brand(href='/') Loc8r
  button.navbar-toggler.navbar-toggler-left(type='button', data-toggle='collapse', data-target='#navbarMain')
   span.navbar-toggler-icon
  #navbarMain.navbar-collapse.collapse
   ul.navbar-nav.mr-auto
    li.nav-item
     a.nav-link(href='/about/') About